@using DAL.Entities
@model Web.Models.PatientViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Our patients</h2>

<table class="table">
    <tr>
        <td>
            N
        </td>
        <td>
            Patient`s name
        </td>
        <td>
            Patient`s surname
        </td>
        <td>

        </td>
        
    </tr>
    @foreach (Patient item in Model.Patients)
    {
        <tr>
            <td>
                @item.PatientId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @Html.ActionLink("Click here", "Diagnosis", new { id = item.PatientId })
            </td>
        </tr>
    }
</table>
